<% layout("/layouts/adminboilerplate") %>

    <style>
        .card {
            margin-top: 20px;
            margin-left: 40px;
            margin-right: 40px;
            margin-bottom: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 5px #ccc;
            width: 1400px;
        }

#searchInput {
    padding: 10px;
    width: 100%;
    height: 45px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 4px;

    border: 1px solid #c05621 ;
    color: dark #c05621;
  }

    </style>


             

    <body>

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search Service" aria-label="Search">
                    <table id="serviceTable" class="table table-striped table-hover">
                        <thead>
                    
                            <tr>



                                <th>Image</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% services.forEach(service=> { %>
                                <tr>

                                    <td><img src="<%= service.image %>" alt="<%= service.name %>" class="rounded-circle"
                                            style="width: 40px; height: 40px;"></td>
                                    <td>
                                        <%= service.title %>
                                    </td>
                                    <td>Active</td>
                                    <td>
                                        <a href="/admin/services/<%= service._id %>/edit"
                                            class="btn btn-sm btn-primary mr-2">Edit</a>
                                        <form action="/admin/services/<%= service._id %>?_method=delete" method="post"
                                            style="display: inline;">
                                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </body>
    </div>